In [1]:
import numpy as np
import pandas as pd

from pandas import DataFrame, Series

In [2]:
# Reading CSV file

dframe = pd.read_csv('lec25.csv', header=None)
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [3]:
# Reading CSV files using read_table (More generic version of read_csv)

dframe = pd.read_table('lec25.csv', sep=',', header=None)

In [4]:
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [5]:
# Select how many number of rows to read 

pd.read_csv('lec25.csv', header=None, nrows=2)

   0  1  2  3      4
0  q  r  s  t  apple
1  2  3  4  5   pear

In [6]:
# Export to csv

dframe.to_csv('mytextdata_out.csv')

In [7]:
# Save file using different sperator

import sys

dframe.to_csv(sys.stdout)

,0,1,2,3,4
0,q,r,s,t,apple
1,2,3,4,5,pear
2,a,s,d,f,rabbit
3,5,2,5,7,dog

In [8]:
dframe.to_csv(sys.stdout, sep='_')

_0_1_2_3_4
0_q_r_s_t_apple
1_2_3_4_5_pear
2_a_s_d_f_rabbit
3_5_2_5_7_dog

In [9]:
# Select specific columns

dframe.to_csv(sys.stdout, columns=[0,1,2])

,0,1,2
0,q,r,s
1,2,3,4
2,a,s,d
3,5,2,5