In [1]:
import numpy as np
import pandas as pd

from pandas import DataFrame, Series

In [2]:
# Json data

json_obj = """
{   "zoo_animal": "Lion",
    "food": ["Meat", "Veggies", "Honey"],
    "fur": "Golden",
    "clothes": null, 
    "diet": [{"zoo_animal": "Gazelle", "food":"grass", "fur": "Brown"}]
}
"""

In [3]:
import json

In [4]:
# Load json data

data = json.loads(json_obj)
data

{'clothes': None,
 'diet': [{'food': 'grass', 'fur': 'Brown', 'zoo_animal': 'Gazelle'}],
 'food': ['Meat', 'Veggies', 'Honey'],
 'fur': 'Golden',
 'zoo_animal': 'Lion'}

In [6]:
# Converted into json object

json.dumps(data)

'{"zoo_animal": "Lion", "food": ["Meat", "Veggies", "Honey"], "fur": "Golden", "clothes": null, "diet": [{"zoo_animal": "Gazelle", "food": "grass", "fur": "Brown"}]}'

In [7]:
# Create data frame from json

dframe = DataFrame(data['diet'])
dframe

    food    fur zoo_animal
0  grass  Brown    Gazelle