In [1]:
import pandas as pd

In [6]:
dframe = pd.read_excel("lec30.xlsx", "Sheet1")

In [7]:
dframe

   This is a test  Unnamed: 1
0               1          11
1               2          22
2               3          33
3               4          44
4               5          55
5               6          66