In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# Create series
obj = Series([3, 6, 9, 12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [3]:
# Get the values
obj.values

array([ 3,  6,  9, 12])

In [9]:
# Get the index
obj.index

RangeIndex(start=0, stop=4, step=1)

In [4]:
# Define values with there index
ww2_cas = Series([8700000, 4300000, 3000000, 2100000, 4000000], index=['USSR', 'Germany', 'China', 'Japan', 'USA'])
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA        4000000
dtype: int64

In [5]:
# Accessing using index
ww2_cas['USA']

4000000

In [6]:
# Display those values which are greater then 4000000

ww2_cas[ww2_cas > 4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [10]:
# Seach the index with in the series

'USSR' in ww2_cas

True

In [11]:
# Convert series into dictionary

ww2_dict = ww2_cas.to_dict()
ww2_dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2100000,
 'USA': 4000000,
 'USSR': 8700000}

In [12]:
# Convert dictionary into series

ww2_series = Series(ww2_dict)
ww2_series

China      3000000
Germany    4300000
Japan      2100000
USA        4000000
USSR       8700000
dtype: int64

In [18]:
countries = ['China', 'Germany','Japan', 'USA', 'USSR', 'Argentina']

In [19]:
# Adding explicit index into the series

obj2 = Series(ww2_dict, index=countries)
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA          4000000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [20]:
# Getting null values
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [21]:
# Getting not null values

pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [22]:
# Adding series

ww2_series + obj2

Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA           8000000.0
USSR         17400000.0
dtype: float64

In [23]:
# Adding name to the series

obj2.name = 'World war 2'
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA          4000000.0
USSR         8700000.0
Argentina          NaN
Name: World war 2, dtype: float64

In [25]:
# Adding name to the index

obj2.index.name = 'Countries'
obj2

Countries
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA          4000000.0
USSR         8700000.0
Argentina          NaN
Name: World war 2, dtype: float64