In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
data = Series(['One', 'Two', np.nan, 'four'])
data

0     One
1     Two
2     NaN
3    four
dtype: object

In [3]:
# Check Wheather is there any nan values

data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [4]:
# Remove the nan values from series

data.dropna()

0     One
1     Two
3    four
dtype: object

In [6]:
dframe = DataFrame([[1, 2, 3], [np.nan, 5, 6], [7, np.nan, 9], [np.nan, np.nan, np.nan, np.nan]])
dframe

     0    1    2   3
0  1.0  2.0  3.0 NaN
1  NaN  5.0  6.0 NaN
2  7.0  NaN  9.0 NaN
3  NaN  NaN  NaN NaN

In [7]:
# Remove Nan values from dataframe

clean_dframe = dframe.dropna()
clean_dframe

Empty DataFrame
Columns: [0, 1, 2, 3]
Index: []

In [8]:
# Drop only those rows which are have all nan values

dframe.dropna(how='all')

     0    1    2   3
0  1.0  2.0  3.0 NaN
1  NaN  5.0  6.0 NaN
2  7.0  NaN  9.0 NaN

In [10]:
# Drop columns

dframe.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [12]:
npn = np.nan

dframe2 = DataFrame([[1, 2, 3, npn], [2, npn, 5, 6], [npn, 7, npn, 9], [1, npn, npn, npn]])
dframe2

     0    1    2    3
0  1.0  2.0  3.0  NaN
1  2.0  NaN  5.0  6.0
2  NaN  7.0  NaN  9.0
3  1.0  NaN  NaN  NaN

In [13]:
# Drop those rows which have selected nan values as given

dframe2.dropna(thresh=2)

     0    1    2    3
0  1.0  2.0  3.0  NaN
1  2.0  NaN  5.0  6.0
2  NaN  7.0  NaN  9.0

In [14]:
# Fill nan values with some values

dframe2.fillna(1)

     0    1    2    3
0  1.0  2.0  3.0  1.0
1  2.0  1.0  5.0  6.0
2  1.0  7.0  1.0  9.0
3  1.0  1.0  1.0  1.0

In [15]:
# Fill different values for different columns

dframe2.fillna({0:0, 1:1, 2:2, 3:3})

     0    1    2    3
0  1.0  2.0  3.0  3.0
1  2.0  1.0  5.0  6.0
2  0.0  7.0  2.0  9.0
3  1.0  1.0  2.0  3.0

In [19]:
# Make changes permanantily

dframe2.dropna(0, inplace=True)

In [20]:
dframe2

Empty DataFrame
Columns: [0, 1, 2, 3]
Index: []