In [16]:
import numpy as np
from pandas import DataFrame, Series
import pandas as pd
import random

In [2]:
ser1 = Series([1,2,3,4], index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
new_index = ['A','B','C','D','E','F']
ser2 = ser1.reindex(new_index)
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [7]:
# Set default value except for NaN
new_index = ['A','B','C','D','E','F','G','H']
ser3 = ser2.reindex(new_index, fill_value=0)
ser3

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
H    0.0
dtype: float64

In [8]:
# Filling previous values
ser3 = Series(['USA','Maxico','Canada'], index=[0,5,10])
ser3

0        USA
5     Maxico
10    Canada
dtype: object

In [10]:
ranger = range(15)
ranger

range(0, 15)

In [13]:
# The above method will take the previous index value and it will store into the NaN values untill it hits a value
ser3.reindex(ranger, method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Maxico
6     Maxico
7     Maxico
8     Maxico
9     Maxico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [21]:
# Creating data frame
dframe = DataFrame(np.random.randn(25).reshape((5,5)), index=['A','B','D','E','F'], columns=['col1', 'col2', 'col3', 'col4', 'col5'])
dframe

       col1      col2      col3      col4      col5
A -0.571273  0.174314 -0.300956 -0.681753  0.126236
B -0.050437  0.006080 -0.535463  0.583345  0.646956
D -3.143750  0.270605 -1.371964  0.036040 -0.541971
E  0.448206 -0.127793 -1.087207  0.112038 -1.413903
F  1.738165 -1.231178  0.949662 -1.953813  1.542758

In [23]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A -0.571273  0.174314 -0.300956 -0.681753  0.126236
B -0.050437  0.006080 -0.535463  0.583345  0.646956
C       NaN       NaN       NaN       NaN       NaN
D -3.143750  0.270605 -1.371964  0.036040 -0.541971
E  0.448206 -0.127793 -1.087207  0.112038 -1.413903
F  1.738165 -1.231178  0.949662 -1.953813  1.542758

In [24]:
new_columns = ['col1','col2','col3','col4','col5','col6']
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -0.571273  0.174314 -0.300956 -0.681753  0.126236   NaN
B -0.050437  0.006080 -0.535463  0.583345  0.646956   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -3.143750  0.270605 -1.371964  0.036040 -0.541971   NaN
E  0.448206 -0.127793 -1.087207  0.112038 -1.413903   NaN
F  1.738165 -1.231178  0.949662 -1.953813  1.542758   NaN

In [25]:
dframe

       col1      col2      col3      col4      col5
A -0.571273  0.174314 -0.300956 -0.681753  0.126236
B -0.050437  0.006080 -0.535463  0.583345  0.646956
D -3.143750  0.270605 -1.371964  0.036040 -0.541971
E  0.448206 -0.127793 -1.087207  0.112038 -1.413903
F  1.738165 -1.231178  0.949662 -1.953813  1.542758

In [28]:
# The below way is a simple way instead of reindexing everything
dframe.ix[['A','B','C','D','E','F'], new_columns]

       col1      col2      col3      col4      col5  col6
A -0.571273  0.174314 -0.300956 -0.681753  0.126236   NaN
B -0.050437  0.006080 -0.535463  0.583345  0.646956   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -3.143750  0.270605 -1.371964  0.036040 -0.541971   NaN
E  0.448206 -0.127793 -1.087207  0.112038 -1.413903   NaN
F  1.738165 -1.231178  0.949662 -1.953813  1.542758   NaN